/data/feeds.json
/data/auth.json
/data/login_attempts.json
/data/items/*.json
/data/cron.log
/data/cron-stderr.log
/data/github_version.json
/src/config.php
/src/version.php
/.htpasswd
.DS_Store
*.opml
/deploy/
/site/
